package components 

templ header() {
	<head>
		<script src="/assets/js/htmx.min.js"></script>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/styles.css" rel="stylesheet"/>
		<title>Budget Tracker</title>
	</head>
}
