package components

import "github.com/DaveLaj/budget-tracker/internal/persistence"

templ PageLayout(records *[]persistence.Record) {
	<!DOCTYPE html>
	<html lang="en">
		@header()
		@body(records)
		@footer()
	</html>
}
