package templates

import (
	"github.com/DaveLaj/budget-tracker/internal/persistence"
	"github.com/DaveLaj/budget-tracker/internal/templates/components"
)

templ Page(records *[]persistence.Record) {
	@components.PageLayout(records)
}
